body {
    background-color: grey;
}

.menu {
    box-sizing: border-box;
    border: grey;
    color:white;
    border-width: 10px;
    border-style: solid;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: grey(0, 157, 255);  
}
a {
    color: white;
}


.contact,.educatie,.werk{

    text-align: center;
    box-sizing: border-box;
    border: solid grey ;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
}

.cvp {
    border-radius: 50%;
      display: block;
  margin-left: auto;
  margin-right: auto;
  width: 21%;
  font-size: xx-large;
  color: white;

    
}
img {
    border-radius: 110%;
}




.copyright {
    color: white;
    font-size: 10px;
}
