* {
  box-sizing: border-box;
}

body {
  background-image: url(wood.jpg);
}

.menu {
  text-shadow: rgb(0, 0, 0);
  color: rgb(244, 164, 96);
  display: flex;
  justify-content: space-evenly;
  font-size: 30em;
}

a {
  font-size: 0.06em;
  font-family: "Walter Turncoat", cursive;
  color: rgb(244, 164, 96);
  text-decoration: none;
  text-shadow: rgb(0, 0, 0) 1px 1px;
}

.contact,
.educatie,
.werk {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  color: rgb(244, 164, 96);
  text-shadow: rgb(0, 0, 0) 0em 0.2em;
  font-family: "Walter Turncoat", cursive;
  font-size: 1.5em;
}

.cvp {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20em;
}
a.cvp {
  cursor: wait;
}

h1 {
  color: rgb(244, 164, 96);
  text-shadow: rgb(0, 0, 0) 0.1em 0.1em;
  font-family: "Walter Turncoat", cursive;
}

p {
  color: rgb(244, 164, 96);
}
